<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.quan.quanstudy">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/icon"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".mvpLogin.view.LoginActivity" />
        <activity android:name=".transitionHelper.MainTransitionActivity" />
        <activity android:name=".transitionHelper.image.ImageActivity" />
        <activity android:name=".transitionHelper.image.ImageDetailActivity" />
        <activity android:name=".objectAnimator.FirstClassActivity" />
        <activity android:name=".objectAnimator.MainAnimatorActivity" />
        <activity android:name=".objectAnimator.PathActivity" />
        <activity android:name=".objectAnimator.FireWorkActivity" />
        <activity android:name=".viewDemo.MainViewActivity" />
        <activity android:name=".viewDemo.SimpleActivity" />
        <activity android:name=".viewDemo.ThreeDiyViewActivity" />
        <activity android:name=".design.MainDesignActivity" />
        <activity android:name=".design.FloatingActionBarActivity" />
        <activity android:name=".design.ScrollActivity" />
        <activity android:name=".design.CollapsingActivity" />
        <activity android:name=".design.tablayout.TabLayoutActivity" />
        <activity
            android:name=".ucar.MainUcarActivity"
            android:screenOrientation="portrait"
            android:theme="@style/BaseActivityTheme"
            ></activity>
        <activity
            android:name=".ucar.trip.TripFeeDetailActivity"
            android:screenOrientation="portrait"
            android:theme="@style/BaseActivityTheme"
            ></activity>
        <activity
            android:name=".ucar.trip.TripDoubtActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@style/PopActivityTheme"
            ></activity>
        <activity
            android:name=".ucar.usercenter.FeedBackActivity"
            android:screenOrientation="portrait"
            android:theme="@style/BaseActivityTheme"
            ></activity>
    </application>

</manifest>